.*.swp
.swp
.DS_Store
/tmp
/*.log

_build
node_modules
/workdir
/workdir.*

/bin
/dist
/tldist
/tldist.*
/tlarchive
/*.tar
/extra/pkgs

tmp
missfont.log

# This file is updated by `nanotex probe`
/data/pkg-info.json
