% Assumes all binaries are located at `bin/`
ROOT = $SELFAUTODIR

DROOT = $ROOT/dist
TLROOT = $ROOT/tldist

TEXFORMATS = $DROOT:$DROOT//

TEXMFDBS = {$TLROOT}

TFMFONTS = $DROOT/fonts//:$TLROOT/fonts//
T1FONTS = $DROOT/fonts//:$TLROOT/fonts//
PKFONTS = $DROOT/fonts//:$TLROOT/fonts//
ENCFONTS = $TLROOT/fonts/enc//:$TLROOT/texmf-dist/fonts/enc//
VFFONTS = $TLROOT/fonts/vf//

TEXFONTMAPS = $DROOT

TEXINPUTS = .:$DROOT/:$DROOT/fonts/fd:$TLROOT//
BIBINPUTS = .:$TLROOT//
BSTINPUTS = $TLROOT//

MFINPUTS = $TLROOT/texmf-dist/metafont//:$TLROOT/fonts/source//
MFBASES = $DROOT/base

% WEB2C = .;../web2c

% TEXMFMAIN = ../web2c

main_memory = 5000000 % words of inimemory available; also applies to inimf&mp
extra_mem_top = 0     % extra high memory for chars, tokens, etc.
extra_mem_bot = 0     % extra low memory for boxes, glue, breakpoints, etc.
font_mem_size = 8000000
font_max = 9000
hash_extra = 600000
pool_size = 6250000
string_vacancies = 90000

max_strings = 500000   % Maximum number of strings.
pool_free = 47500      % min pool space left after loading .fmt

trie_size = 1000000

hyph_size = 8191        % prime number of hyphenation exceptions, >610, <32767.
                        % http://primes.utm.edu/curios/page.php/8191.html
nest_size = 500         % simultaneous semantic levels (e.g., groups)
max_in_open = 15        % simultaneous input files and error insertions, 
                        % also applies to MetaPost
param_size = 10000      % simultaneous macro parameters, also applies to MP
save_size  = 100000     % for saving values outside current group
stack_size = 5000       % simultaneous input sources

% These are Omega-specific.
ocp_buf_size = 500000   % character buffers for ocp filters.
ocp_stack_size = 10000  % stacks for ocp computations.
ocp_list_size = 1000    % control for multiple ocps.

dvi_buf_size = 16384 % TeX
gf_buf_size = 16384  % MF

error_line = 79
half_error_line = 50
max_print_line = 79

% Metafont only.
screen_width.mf = 1664
screen_depth.mf = 1200

% BibTeX only (max_strings also determines hash_size and hash_prime).
ent_str_size =  250
glob_str_size = 20000
max_strings.bibtex  = 100000
max_strings.bibtex8 = 100000
max_strings.bibtexu = 100000
max_strings.pbibtex = 100000
max_strings.upbibtex = 100000

